/**
 * Basic styling for the Example skin.
 */

/* Table of Contents */
#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

/**
 * We want to display the ToC element with intrinsic width in block mode. The fit-content
 * value for width is however not supported by large groups of browsers.
 *
 * We use display:table. Even though it should only contain other table-* display
 * elements, there are no known problems with using this.
 *
 * Because IE < 8, FF 2 and other older browsers don't support display:table, we fallback to
 * using inline-block mode, which features at least intrinsic width, but won't clear preceding
 * inline elements. In practice inline elements surrounding the TOC are uncommon enough that
 * this is an acceptable sacrifice.
 */
#toc,
.toc {
	display: -moz-inline-block;
	display: inline-block;
	display: table;

	/* IE7 and earlier */
	zoom: 1;
	*display: inline;

	padding: 7px;
}

/* CSS for backwards-compatibility with cached page renders and creative uses in wikitext */
table#toc,
table.toc {
	border-collapse: collapse;
}
/* Remove additional paddings inside table-cells that are not present in <div>s */
table#toc td,
table.toc td {
	padding: 0;
}

#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}

.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}

/* Page layout */

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda'), local('Coda-Regular'), url(http://fonts.gstatic.com/s/coda/v10/_xmjOXyFZCVnKmbBxb_PUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#pagehistory li.selected, .editform, .mw-content-text {
	background-color: #19454a;
	border-color: #8cfbf7;
}

.mw-plusminus-pos {
	color: #8cfbbd;
}

.mw-plusminus-neg {
	color: #f88bf5;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: #8cfbf7;
}

fieldset {
	border-color: #8cfbf7;
}

table.wikitable, table.mw-datatable {
	margin: 1em 0;
	background-color: #19454a;
	border-collapse: collapse;
	color: #8cfbf7;
}

table.wikitable > tr > th, table.wikitable > * > tr > th, .mw-datatable th, .mw-datatable tr {
	background-color: #307674;
	border: 1px #8cfbf7 solid;
	box-shadow: 0px 0px 6px #8cfbf7;
}

table.wikitable > td > td, table.wikitable > * > tr > td, .mw-datatable td {
	border: 1px #8cfbf7 solid;
	box-shadow: 0px 0px 6px #8cfbf7;
	background-color: #19454a;
}

table.wikitable a {
	text-decoration: underline;
}

.mw-datatable tr:hover td {
	/*background-color:#559997;*/
	background-color: #307674;
}

code {
	background-color: #19454a;
}

.editOptions, .jsprefs {
	background-color: #19454a !important;;
	border: 1px solid #8cfbf7;
}

#preftoc li.selected {
	border: 1px solid #8cfbf7;
	border-bottom: none;			
	background-color: #19454a;
}

#preftoc {
	background-image: none !important;
}

#preftoc li:first-child {
  margin-left: 0px !important;
}

#preftoc li.selected a, #preftoc a, #preftoc a:active {
	background-image: none !important;	
	color: #8cfbf7 !important;
}

#preftoc li, #preftoc a:active, ul.preftoc {
	background-image: none !important;
	background: none;
	/*background-color: #559997;*/
	background-color: #307674;
	color: #8cfbf7 !important;
}

table.diff, td.diff-otitle, td.diff-ntitle {
	background-color: #19454a;
}

#toc, .toc, .mw-warning {
	background-color: #19454a;
	border: 1px solid #8cfbf7;	
	box-shadow: 0px 0px 6px #8cfbf7;
}

div.thumbinner {
	background: none; 
}

td.diff-context {
	color: #c0c0c0;
	background: none; 
}

td.diff-deletedline {
	border-color: #E40000;
}

del.diffchange.diffchange-inline {
	background-color: #E40000;
}

td.diff-addedline {
	border-color: #C124E0;
}

ins.diffchange.diffchange-inline {
	background-color: #C124E0;
}

html,
body {
	font-family: 'Coda', cursive;
	margin: 0;
	padding: 0;
	background-color: #102021;
	color: #c0c0c0;
	background-attachment: fixed;
	background-repeat: repeat;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}

html {
	height: 100%;
}

legend {
	color: #c0c0c0;
}

h1, h2, h3, h4, h5, h6 {
	color: #8cfbf7;
	border-bottom: 1px solid #8cfbf7;
}

.mw-portlet h3 {
	color: #8cfbf7;
	border: 1px solid #8cfbf7;
	background-color: #19454a;
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-decoration: none;
}

.mw-portlet h3 a:visited, .mw-portlet h3 a{
	color: #8cfbf7;
}

.mw-portlet:hover ul {
	display:block;  
	z-index:500;
}

h3 a:hover {
	text-decoration: none;
	cursor:default;
}

.mw-portlet ul {
	text-align: left;
	font-size: smaller;
	list-style-type: none;
	padding-left: 5px;
	border: 1px solid #8cfbf7;
	background-color: black;
	margin-top: -19px;
    display:none;
	box-shadow: 0px 0px 6px #8cfbf7;
}
  
td.htmlform-tip {
	color: #8cfbf7;
}

a, .mw-body a.external, #p-personal a.new {
	color: #8cfbf7;
	background: none;
}

a {
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

a:visited, .mw-body a.external:visited {
	color: #559997;
}

a.new:visited, #p-personal a.new:visited {
	color: #FF7315;
}

a.stub, a.new {
	color: #E40000;
}

.headline a, .headline a:hover, .headline a:visited, .headline a.external:visited, .headline {
	color: #FFEDB4;
	margin:0.3em;
	text-align:center;
}

.catlinks {
	clear: both;
	background: none;
	border: 1px solid grey;
	padding: 5px;
	margin-top: 1em;
}

.mw-body a.external {
	background-position: center right;
	background-repeat: no-repeat;
	background-image: url(http://ingresswiki.de/skins/vector/images/external-link-ltr-icon.png?2014-06-25T21:28:20Z);
	padding-right: 13px;
}

#mw-wrapper {
	width: 60em;
	margin: 0 auto;
	position: relative;
}

.mw-body {
	margin-left: -1em;
	padding: 0em 1em 2em 1em;
	float: left;
	background-color: #102021;
	width: 100%;
}

#p-logo {
	width: 10em;
	clear: left;
	float: left;
}

#mw-navigation {
	
}

#p-personal {
	position: absolute;
	top: 1em;
	right: 0em;
	width: 140px;
	text-align: center;
}

#p-namespaces {
	position: absolute;
	top: 1em;
	right: 27em;
	width: 140px;
	text-align: center;
}

#p-navigation {
	position: absolute;
	top: 1em;
	right: 18em;
	width: 140px;
	text-align: center;
}

#p-tb {
	position: absolute;
	top: 1em;
	right: 9em;
	width: 140px;
	text-align: center;
}

#p-search {
	position: absolute;
	top: 6em;
	right: 0em;
	width: 46em;
	text-align: right;
}

/*#p-personal h3 {
	top: 0px;
}
*/
#p-logo {
	text-align: center;
}

#preferences {
	border: 1px solid #559997 !important;
	background-color: #19454a;
}

div.jsprefs {
	border: 1px solid #559997;
	background-color: #19454a;
}

/* Search form and personal menu in top-right corner */

/*
#p-personal {
	position: absolute;
	top: 3em;
	right: 1em;
	width: 46em;
	text-align: right;
}

#p-personal ul {
	list-style-type: none;
	margin: 0;
}

#p-personal ul li {
	display: inline-block;
	margin-right: 1em;
}
*/
/* Footer */

#mw-footer {
	clear: both;
/*	border-top: 1px solid black;
	margin-top: 1em;
	padding: 1em;*/
}

#mw-footer ul {
	list-style-type: none;
	padding: 0em;
	padding-top: 5px;
}

#mw-footer ul li {
	display: inline-block;
	padding: 0em;
	margin-right: 5em;
}

/* Hide some headings, but keep them accessible for screen-readers */
/* Fixes for problems */
#mw-navigation h2,
#p-search h3, #siteSub {
	position: absolute;
	top: -9999px;
	color: #8cfbf7;
}

.firstHeading {
	margin-top: 10px;
}

ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
}

table.diff, ul#filetoc, li.gallerybox div.thumb {
	background: none !important;
}

#wpUploadDescription {
	width: 45em;
}

.mw-notification {
  padding: 0.25em 1em;
  margin-bottom: 0.5em;
  border: solid 1px #FEECB3;
  color: #FEECB3;
  background-color: #19454a !important;
  cursor: pointer;
}

.mw-search-formheader {
	background: none !important;
}

.mw-search-formheader div.search-types ul li.current a {
	color: #FEECB3 !important;
}

table.mw_metadata td, table.mw_metadata th {
  background-color: #19454a;
}

.warning {
  color: #FEECB3;
  list-style-type: none;
}

textarea#wpInput, textarea#output {
	width:65em;
}

/* End of fixes*/

/* Custom Styles */

.infotable td, .infotable th {
	box-shadow: 0px 0px 10px #8cfbf7;
	border: 2px solid #8cfbf7;
	border-top: 0px;
	padding: 1px;
	text-shadow: 0 0 3px #70E0E0;
	text-align:center;
	font-size:1.25em;
	font-weight:400; 
}

.infotable th {
	background-color:#559997;
}

.navbox {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #19454B;
	border-style: solid;
	border-width: 2px;
	padding-top: 5px;
}

/* thumbnails */
div.thumb {
	margin-bottom: .5em;
	width: auto;
}

div.thumbinner {
	border: 1px solid #8cfbf7;
	padding: 3px !important;
	background-color: #102021;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}

html .thumbimage {
	border: 1px solid #8cfbf7;
	background-color: #FFF;
}

html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}

div.magnify {
	float: right;
	border: none !important;
	background: none !important;
	margin-left: 3px;
}

div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}

/* @noflip */div.tright {
	margin: .5em 0 .8em 1.4em;
}

/* @noflip */div.tleft {
	margin: .5em 1.4em .8em 0;
}

img.thumbborder {
	border: 1px solid #dddddd;
}
