/* Custom Styles */

html,
body {
	font-family: 'Coda', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: none;
	background-color: #102021;
	color: #c0c0c0;
	background-attachment: fixed;
	background-repeat: repeat;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}


.headline a, .headline a:hover, .headline a:visited, .headline a.external:visited, .headline {
	color: #FFEDB4;
	margin:0.3em;
	text-align:center;
}

.infotable td, .infotable th {
	color: #8cfbf7;
	background-color: #19454a;
	text-shadow: 0 0 3px #70E0E0;
	text-align:center;
	font-size:1.25em;
	font-weight:400;
	box-shadow: 0px 0px 10px #8cfbf7;
	border: 2px solid #8cfbf7;
	border-spacing: 0px;
	border-top: 0px;
	padding: 1px;
	clear:both;
}

.infotable th {
	background-color:#559997;
}

.navbox, .redirectMsg {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #19454B;
	border-style: solid;
	border-width: 2px;
	padding-top: 5px;
}

#RESlost, #RESwon {
	color:#76DDFF;
	text-align:center;
}

#RESwon {
	background-color:#4E55E0;
}

#ENLlost, #ENLwon {
	color:#7EFF7B;
	text-align:center;
}

#ENLwon {
	background-color:#4FA100;
}

.fancy {
	margin: 1%;
	box-sizing: border-box;
	border-radius: 50% 50%;
	box-shadow: black 0px 0px 5px;
}

.news {
  float: left;
  box-sizing: border-box;
}

.newsbox {
	border-style:solid;
	border-width:2px;
}

.newsbox p {
	padding: 5px;
}

.welcome {
  float: left;
  box-sizing: border-box;
}