/* Page layout */

#mw-wrapper {
	width: 95%;
	margin: 0 auto;
	position: relative;
}

.mw-body {
	float: left;
	background: none !important;
	background-color: #102021 !important; /*IE8 backwards compatible*/
	background-color: rgba(16, 32, 33, 0.95) !important;
	width: 100%;
}

/* User Preferences und Menu */

.prefsection {
	position: relative;
	top: -2em;
}

#mw-prefs-form {
	top: 12px;
	position: relative;
}

#p-personal {
	position: absolute;
	top: 72px;
	right: 0em;
	width: 140px;
	text-align: center;
}

#p-namespaces {
	position: absolute;
	top: -12px;
	right: 0em;
	width: 140px;
	text-align: center;
}

#p-navigation {
	position: absolute;
	top: 16px;
	right: 0em;
	width: 140px;
	text-align: center;
}

#p-tb {
	position: absolute;
	top: 44px;
	right: 0em;
	width: 140px;
	text-align: center;
}

#p-search {
	position: absolute;
	top: 120px;
	right: 0em;
	text-align: right;
	width: 180px;
}

.mw-portlet h3 {
	font-size: medium;
}

.mw-portlet:hover ul {
	display:block;  
	position: fixed;
	right: 180px;
	top: 24px;
	width: 10em;
}

.mw-portlet ul {
	text-align: left;
	font-size: smaller;
	list-style-type: none;
	padding-left: 5px;
	border: 1px solid #8cfbf7;
	background-color: black;
	margin-top: -19px;
	display:none;
	box-shadow: 0px 0px 6px #8cfbf7;
}
  
#wpUploadDescription {
	width: 45em;
}

